<!-- templates/caca.html -->
{% extends "base.html" %}
{% block title %}Contenu Caché{% endblock %}
{% block content %}
<section class="caca-content">
    <h2>Contenu Caché</h2>
    <p>
        Bienvenue sur cette page secrète où le blabla coule à flot ! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, nibh eget tempus ullamcorper, justo urna faucibus libero, nec sollicitudin est sapien in lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed aliquet cursus diam, vel sollicitudin arcu.
    </p>
    <div class="image-container">
        <!-- Remplacez l'attribut src par l'image de votre choix plus tard -->
        <img src="/static/images/placeholder.png" alt="Image à venir">
    </div>
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item9'] and user['item10'] %}
<div class="secret-item" data-item="9" id="secret-item-9">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(9)">
</div>
{% endif %}
{% endblock %}
