<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Fourre Tout{% endblock %}
{% block content %}
<section class="hero">
    <h1>le Fourre TOUT de Yanso</h1>
    {% if user.email == "becot.garance@gmail.com" %}
        <a href="/garance" class="special-button">Coucou Garance</a>
    {% endif %}
</section>
<section class="blog-preview">
    <h2>Derniers Articles</h2>
    <div class="articles">
        <article>
            <h3>Inutile</h3>
            <p>On s'en fiche de malade</p>
            <a href="/articles/projets">Lire la suite</a>
        </article>
        <article>
            <h3>La grande guerre</h3>
            <p>Le Zoo vs Le Zoon't...</p>
            <a href="/articles/guerre">Lire la suite</a>
        </article>
        <article>
            <h3>Le GOAT</h3>
            <p>YansoGOAT en personne</p>
            <a href="/articles/yanso">Lire la suite</a>
        </article>
    </div>
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item1'] and user['item10'] %}
<div class="secret-item" data-item="1" id="secret-item-1">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(1)">
</div>
{% endif %}
{% endblock %}
