<!-- templates/profile.html -->
{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
<section class="profile">
    <h2>Bienvenue, {{ user.full_name or user.email }}</h2>
    <p>Email : {{ user.email }}</p>
    {% if user.email == "becot.garance@gmail.com" %}
        <a href="/caca">- .----. . ... / -... . .-.. .-.. . / --.- ..- .- -. -.. / - ..- / -.. . -.-. --- -.. . ...</a>
    {% endif %}
    {% if user.email == "becot.garance@gmail.com" and (user.epreuve1 or user.epreuve2 or user.epreuve3 or user.epreuve4 )%}
        <!-- Bouton refresh pour réinitialiser la progression -->
        <button id="resetButton" class="special-button">Refresh</button>
        <!-- Formulaire caché pour envoyer la requête POST -->
        <form id="resetForm" action="/reset_flags" method="post" style="display:none;"></form>
    {% endif %}
</section>

<script>
    // Ajoute un événement sur le bouton refresh
    const resetButton = document.getElementById('resetButton');
    if (resetButton) {
        resetButton.addEventListener('click', function() {
            // Affiche la confirmation
            if (confirm("Garance, t'es sûre de vouloir perdre la progression du secret ?")) {
                // Si confirmé, soumet le formulaire caché
                document.getElementById('resetForm').submit();
            }
        });
    }
</script>
{% endblock %}
