<!-- templates/secret_items.html -->
{% extends "base.html" %}
{% block title %}Secret Items{% endblock %}
{% block content %}
<section class="secret-section">
  <h2>Presque, fouille bien le site</h2>
  <div class="secret-counter">
    <img src="/static/images/secret-icon.png" alt="Secret Icon" class="secret-icon">
    <span id="itemCounter">{{ count }} / 10</span>
  </div>
  {% if count == 10 %}
    <p class="secret-congrats">Bravo pour le secret</p>
  {% endif %}
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item10'] %}
<div class="secret-item" data-item="10" id="secret-item-10">
  <p class="item-instruction">Cliquez sur l'image</p>
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(10);location.href = '/secret-items'">
</div>
{% endif %}
{% endblock %}
