<!-- templates/daize.html -->
{% extends "base.html" %}
{% block title %}daize{% endblock %}
{% block content %}
<section class="article-section">
    <h2>À propos du Daizou</h2>
    <p>On parle de Warlim</p>
    <p>Le BOAT (Baveur Of All Time)</p>
    <p>DaizouBOAT</p>

    <div class="video-container">
      <video id="tiktokVideo" playsinline autoplay loop style="width:100%; max-width:400px; display:block; margin: 20px auto;">
        <source src="/static/videos/daize.MOV">
        Votre navigateur ne supporte pas la vidéo.
      </video>
    </div>
    </section>

</section>

<script>
// Ajout d'un event listener pour toggler pause/play au clic
const video = document.getElementById('tiktokVideo');
video.addEventListener('click', function() {
  if (video.paused) {
    video.play();
  } else {
    video.pause();
  }
});
</script>
{% endblock %}
