{% extends "base.html" %}
{% block title %}Épreuve 4{% endblock %}
{% block content %}
<section class="epreuve-content">
    <h2>Épreuve 4</h2>
    <p>Contenu de l'épreuve 4. Remplacez ce texte par ce que vous voulez.</p>
    <form method="post" action="/garance/epreuve4">
        {% if user.epreuve4 %}
            <button type="submit" disabled class="disabled-button">Réussir épreuve</button>
        {% else %}
            <button type="submit" class="special-button">Réussir épreuve</button>
        {% endif %}
    </form>
    <a href="/garance" class="back-button">Retour</a>
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item5'] and user['item10'] %}
<div class="secret-item" data-item="5" id="secret-item-5">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(5)">
</div>
{% endif %}
{% endblock %}
