<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}Yanso Central{% endblock %}
{% block content %}
<section class="hero">
    <h1>Yanso Central</h1>
    {% if user.email == "becot.garance@gmail.com" %}
        <a href="/garance" class="special-button">Coucou Garance</a>
    {% endif %}
</section>
<section class="blog-preview">
    <h2>Restez branchés</h2>
    <div class="articles">
        <!--
        <article>
            <h3>Inutile</h3>
            <p>On s'en fiche de malade</p>
        </article>
        -->
        <article onclick="location.href = '/articles/guerre'">
            <h3>La grande guerre</h3>
            <p>Le Zoo vs Le Zoon't...</p>
        </article>
        <article onclick="location.href = '/articles/yanso'">
            <h3>Le GOAT</h3>
            <p>YansoGOAT en personne</p>
        </article>
        <article onclick="location.href = '/articles/daize'">
            <h3>Daizou/Warlim/Zizouchepas/...</h3>
            <p>Le premier Baveur</p>
        </article>
        <article onclick="location.href = '/articles/zeyo'">
            <h3>Bretzel 🥨 Biftek 🥩</h3>
            <p>Fondateur du Zoo</p>
        </article>
    </div>
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item1'] and user['item10'] %}
<div class="secret-item" data-item="1" id="secret-item-1">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(1)">
</div>
{% endif %}
{% endblock %}
