<!-- templates/profile.html -->
{% extends "base.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
<section class="profile">
    <h2>Bienvenue, {{ user.full_name or user.email }}</h2>
    <p>Email : {{ user.email }}</p>
    {% if user.email == "becot.garance@gmail.com" %}
        <a href="/caca">- .----. . ... / -... . .-.. .-.. . / --.- ..- .- -. -.. / - ..- / -.. . -.-. --- -.. . ...</a>
    {% endif %}
    {% if user.email == "becot.garance@gmail.com" and (user.epreuve1 or user.epreuve2 or user.epreuve3 or user.epreuve4 )%}
        <!-- Bouton refresh pour réinitialiser la progression -->
        <button id="resetButton" class="special-button">Refresh</button>
        <!-- Formulaire caché pour envoyer la requête POST -->
        <form id="resetForm" action="/reset_flags" method="post" style="display:none;"></form>
    {% endif %}
        {% if user.email == "aleyna.cebre@gmail.com" or user.email == "Yanis.Bennour@outlook.fr"%}
        <br /> <br />
        <h2>Le azerty-code</h2>
        <input type="text" id="inputText" placeholder="Entrez un mot..."><br />
        <button class="special-button" onclick="convertText('azerty')">Code</button>
        <button class="special-button" onclick="convertText('alphabet')">Decode</button>
        <div class="video-container"><p>Résultat : <span id="outputText"></span></p></div>
        
{% endif %}
</section>

<script>
    // Ajoute un événement sur le bouton refresh
    const resetButton = document.getElementById('resetButton');
    if (resetButton) {
        resetButton.addEventListener('click', function() {
            // Affiche la confirmation
            if (confirm("Garance, t'es sûre de vouloir perdre la progression du secret ?")) {
                // Si confirmé, soumet le formulaire caché
                document.getElementById('resetForm').submit();
            }
        });
    }

    const azerty = "azertyuiopqsdfghjklmwxcvbn".split('');
    const alphabet = "abcdefghijklmnopqrstuvwxyz".split('');

    function convert(input, from, to) {
            return input.split('').map(letter => {
                let index = from.indexOf(letter);
                return index !== -1 ? to[index] : letter;
            }).join('');
    }

    function convertText(mode) {
            let inputText = document.getElementById("inputText").value.toLowerCase();
            let outputText = mode === 'azerty' 
                ? convert(inputText, alphabet, azerty) 
                : convert(inputText, azerty, alphabet);
            document.getElementById("outputText").textContent = outputText;
    }
</script>

<style>
    input {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    p {
        font-size: 18px;
        margin-top: 15px;
    }
</style>

{% endblock %}
