<!-- templates/projets.html -->
{% extends "base.html" %}
{% block title %}Mes projets perso{% endblock %}
{% block content %}
<section class="article-section">
    <h2>Les projets du GOAT</h2>
    <p>Ici on parle des projets du GOAT, mais c'est uniquement pour les meilleurs suceurs.</p>
    <div class="project-gallery">
        <img src="/static/images/projet1.jpg" alt="Projet 1">
    </div>
</section>
{% if user.email == "becot.garance@gmail.com" and not user['item6'] and user['item10'] %}
<div class="secret-item" data-item="6" id="secret-item-6">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(6)">
</div>
{% endif %}
{% endblock %}
