<!-- templates/yanso.html -->
{% extends "base.html" %}
{% block title %}Yanso{% endblock %}
{% block content %}
<a href="/" class="back-button">◄</a>
<section class="article-section">
    <h2>À propos du GOAT</h2>
    <p>ICI LE GOAT</p>
    <p>C'EST LE GOAT QUI PARLE</p>
    <p>VOUS LISEZ LES MOTS DU GOAT</p>

    <div class="video-container">
      <video id="tiktokVideo" playsinline autoplay loop style="width:100%; max-width:400px; display:block; margin: 20px auto;">
        <source src="/static/videos/yanso.MOV">
        Votre navigateur ne supporte pas la vidéo.
      </video>
    </div>
    </section>

</section>

<script>
// Ajout d'un event listener pour toggler pause/play au clic
const video = document.getElementById('tiktokVideo');
video.addEventListener('click', function() {
  if (video.paused) {
    video.play();
  } else {
    video.pause();
  }
});
</script>
{% if user.email == "becot.garance@gmail.com" and not user['item8'] and user['item10'] %}
<div class="secret-item" data-item="8" id="secret-item-8">
  <img src="/static/images/secret-icon.png" alt="Secret Item" class="secret-item-img" onclick="clickSecretItem(8)">
</div>
{% endif %}
{% endblock %}
